In [1]:
my_string = "hello world"

In [2]:
my_string

'hello world'

## indexing

In [3]:
my_string[0]

'h'

In [4]:
my_string[4]

'o'

In [5]:
my_string[-1]

'd'

In [6]:
my_string[-2]

'l'

In [7]:
my_string_2 = "1234567890"

In [8]:
my_string_2[0]

'1'

In [9]:
my_string_2[2:]

'34567890'

## slicing

In [11]:
my_string_2[4:]

'567890'

In [12]:
my_string_2[:2]

'12'

## stopping index

In [13]:
my_string_2[:4]

'1234'

In [14]:
my_string_2[2:4]

'34'

In [15]:
my_string_2[5:8]

'678'

## step size

In [16]:
my_string_2[::]

'1234567890'

In [17]:
my_string_2[::3]

'1470'

In [18]:
my_string_2[::2]

'13579'

In [19]:
my_string_2[2:4:2]

'3'

In [20]:
my_string_2[::-1]

'0987654321'

## string methods

In [23]:
my_name = "atil"

In [27]:
my_name_capitalized = my_name.capitalize()

In [28]:
my_name

'atil'

In [29]:
my_name_capitalized

'Atil'

In [30]:
my_name = "Atil Samancioglu"

In [31]:
my_name.split()

['Atil', 'Samancioglu']

In [32]:
my_name

'Atil Samancioglu'

In [33]:
my_name_split = my_name.split()

In [37]:
my_name_split

['Atil', 'Samancioglu']

In [38]:
my_number = 123

In [39]:
my_name.upper()

'ATIL SAMANCIOGLU'

In [43]:
"james" * 10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [46]:
"james" + "lars"

'jameslars'

In [47]:
my_name = "Atil"

In [54]:
my_surname = "Samancioglu"

In [55]:
my_full_name = my_name + " " + my_surname

In [56]:
my_full_name

'Atil Samancioglu'

In [58]:
"james" * 3

'jamesjamesjames'